@import url("https://fonts.googleapis.com/css?family=michroma&display=swap");

body {
  font-family: michroma, serif;
  background: linear-gradient(90deg, #020a7a 0%, #100202 100%);
}

p {
  color: aquamarine;
}

.nav-link {
  color: aquamarine;
}

.navbar-nav .nav-link.active {
  color: rgb(197, 196, 196);
}

.navbar-brand img {
  width: 50px;
  height: 30px;
}

.navbar-toggler {
  background-color: rgb(197, 196, 196);
}
.card-img-top {
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
  height: 286.4px;
}
.sidebar {
  color: aquamarine;
  background: linear-gradient(270deg, #020a7a 0%, #100202 100%);
}

.card {
  background: linear-gradient(270deg, #020a7a 0%, #100202 100%);
  color: aquamarine;
}

.card a {
  text-decoration: none;
  color: aquamarine;
}
.slide-text,
.footer-text {
  color: aquamarine;
  margin: auto auto;
}

footer,
.btn-outline-primary {
  background: linear-gradient(270deg, #020a7a 0%, #100202 100%);
}

.w-100 {
  height: 400px;
}

.media-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-anim {
  animation: myAnim 2s ease 0s 1 normal forwards;
}

@media (max-width: 755px) {
  .carousel-indicators {
    display: none;
  }
}

@keyframes myAnim {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
